body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url("../img_mainpage/01main/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.canvas-wrapper {
    position: relative;
    width: 720px;
}

#music-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 54px;
    height: 54px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 2;
}

#music-toggle img {
    width: 100%;
    height: 100%;
    display: block;
}

canvas {
    display: block;
    background-color: black;
}
